* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #e4e4e4;	
}	

.item_box {

			padding: 20px;

			

		}

		.img_goods {

			height: 200px;

		}

		.img_goods img {

			height: 100%;

			width: 100%;

		}

		table img {


			height: 100px;

			

		}

		.delete_item {

			font-size: 30px;


			cursor: pointer;

		}

		.delete_item:hover {

			color: red;

		}


		.header {
			
		}

.cart-content {
	position: absolute;
	background-color: #fff;
	min-height:100px;
	min-width: 50%;
	margin-left: auto;
  	margin-right: 0em;
	width: 90%;
	border: 1px solid #a5a5a5;
	border-radius: 5px;
	box-shadow: 1px 2px 3px #575656;
	
}

.cart-content .non_item_message {
	text-align: center;
	font-size: 26px;;	
}
.cart-content .non_item_message span {
	margin: 10px;	
}

.clear-cart {
	margin-left: auto;
  	margin-right: 0em;
	max-width: 190px; /* блок занимает ширину родителя, max-width её ограничивает */
  	min-height: 2em;
}